<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="red">
    <main>
        <h1>The Fonts</h1>
        <p><b>BOLD</b>
        <i>Italics</i>
        <strike>Strike through</strike>
        <sub>SubScript</sub>
        <sup>SuperScript</sup>
        <tt>Type Writer</tt>
        <u>underlined</u></p>
        <marquee>Why you looking amuzed bruh?? </marquee>
        <marquee> OK LETS GOOO!!!</marquee>


        <div style="color:blue; font-size: 20px; font-family: Arial, Helvetica, sans-serif;">
            <p>Blue Text</p>
        </div>  
        <div style="color:green; font-size: 18px; font-family: Times New Roman, serif;">
            <p>Green Text</p>
        </div>
         <div style="color:purple; font-size: 16px; font-family: Courier New, monospace;">
            <p>Purple Text</p>
        </div>
        <div style="text-align: center;"> <input type="text">Enter your name</div>
         <div style="text-align: center;"> <input type="password">Enter your password</div>
         <div style="text-align: center;"> <input type="email">Enter your email</div>
         <div style="text-align: center;"> <input type="number">Enter your age</div>
         <div style="text-align: center;"> <input type="date">Enter your date of birth</div>
         <div style="text-align: center;"> <input type="checkbox">I agree to the terms and conditions</div>
         <div style="text-align: center;"> <input type="radio" name="gender" value="male">Male <input type="radio" name="gender" value="female">Female</div>
         <div style="text-align: center;"> <input type="submit" value="Submit"></div>

        <div style="text-align: center;">Left Aligned Text</div>
    </main>
    
</body>
</html>